/* custom css  */
/* --------------------- Navigation ------------------- */

/* --------------------- / Navigation ------------------- */
/* --------------------- home ------------------- */
.hero-heading {
  line-height: 1.2em;
}
/* marquee  */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}
.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 19);
}
.slider .slide {
  margin: 0px 50px;
}

/* --------------------- / home ------------------- */

ul {
  list-style-type: none;
}

/* fade animation  */
.menu {
  animation: fadeOut 1s;
}

.menu[open] {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translateY(2.25em);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-2.25em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------- projectCard ----------- */
.projectCard {
  min-width: 350px;
}

.frame ::-webkit-scrollbar {
  width: 5px;
}

.frame ::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}
.frame ::-webkit-scrollbar-corner {
  width: 0px;
}
/* ----------------- projectCard ----------- */
